<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE game SYSTEM "config.dtd">
<game>
	<name>Word Challenge</name>
	<config>
		<starttime>60</starttime>
		<background>Resources/images/background.png</background>
		<pointsNewLetters>100</pointsNewLetters>
		<matches>
			<match amount="3" points="20" bonusTime="0"/>
			<match amount="4" points="25" bonusTime="4"/>
			<match amount="5" points="50" bonusTime="7"/>
			<match amount="6" points="100" bonusTime="10"/>
		</matches>
		<languages>
			<language name="spanish" dictionary="Resources/dic/spanish-words.dic" flag="Resources/images/spanish.png" 
			sprite="Resources/images/spanishlangns.png" selsprite="Resources/images/spanishlang.png"/>
			<language name="english" dictionary="Resources/dic/english-words.dic" flag="Resources/images/english.png" 
			sprite="Resources/images/englishlangns.png" selsprite="Resources/images/englishlang.png"/>
		</languages>
	</config>
</game>
